@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/*폰트 굵기 바꾸기*/
h1{
  font-weight: normal;
}
p span{
  font-weight: bold;
}

/*폰트 크기 바꾸기 px단위 이용*/
article h1{
  font-size: 60px;
}
article p{
  font-size: 30px;
}
article a{
  font-size: 15px;
}
/*폰트 크기 바꾸기 rem단위 이용(html 요소 기준으로 몇 배)*/
html{
  font-size: 16px;
}
article h1{
  font-size: 3rem;
}
article p{
  font-size: 1rem;
}
article a{
  font-size: 0.8rem;
}
/*폰트 크기 바꾸기 em단위 이용(부모 요소 기준으로 몇 배)*/
html{
  font-size: 16px;
}
article{
  font-size: 40px;
}
article h1{
  font-size: 3em;
}
article p{
  font-size: 1em;
}
article a{
  font-size: 0.8em;
}


/*폰트 모양 바꾸기*/
ul li{
  font-size: 40px;
}
ul li:nth-of-type(1){
  font-family: "돋움";
}
ul li:nth-of-type(2){
  font-family: "굴림";
}
ul li:nth-of-type(3){
  font-family: serif;
}
ul li:nth-of-type(4){
  font-family: arial;
}

/*구글 웹 폰트 적용*/
p#txt{
  font-size: 100px;
  font-family: 'Monoton',cursive;
}