@charset "utf-8";
/*전체 선택자 사용하기*/
*{
  border: 1px solid red;
}
/*
모든 HTML요소의 테두리를 1px굵기의 빨간색 실선으로 적용
*/


/*태그 선택자 사용하기*/
h1{
  border: 1px solid red;
}
h2{
  border: 1px solid green;
}
h3{
  border: 1px solid blue;
}


/*자손 선택자 사용하기*/
p strong{
  border: 1px solid blue;
}


ul li{
  border: 1px solid blue;
}

/*자식 선택자로 바꾸기*/
ul > li{
  border: 1px solid blue;
}


/*그룹선택자 사용하기 (using comma)*/
h1,h2,h3{
  border: 1px solid blue;
}
